# ----------------------------
# Python
# ----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ----------------------------
# Virtual Environments
# ----------------------------
venv/
.venv/
env/

# ----------------------------
# Environment Variables
# ----------------------------
.env

# ----------------------------
# VS Code
# ----------------------------
.vscode/

# ----------------------------
# macOS
# ----------------------------
.DS_Store

# ----------------------------
# Streamlit
# ----------------------------
.streamlit/

# ----------------------------
# Generated Reports
# ----------------------------
reports/*.pdf

# ----------------------------
# Jupyter
# ----------------------------
.ipynb_checkpoints/